/* fab */
.fab {
    border-radius: 100%;
    bottom: 20px;
    font-size: 15px;
    padding: 20px;
    position: fixed;
    right: 20px;
}

.fab-danger {
    border-radius: 100%;
    bottom: 20px;
    font-size: 15px;
    width: 45px;
    height: 45px;
    position: fixed;
    left: 20px;
}